.button {
  background-color: var(--border);
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
  color: white;
}

.button p {
  color: var(--primary);
  font-size: 20px;
}

.button p:hover {
  color: white;
}
