.header {
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: #8d6f57 solid 1px;
}

.homeLink {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  gap: 20px;
}
