.header {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--border);
  box-shadow: var(--shadow-md);
}

.homeLink {
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: 20px;
}
